body{
    background-color: brown;
}
audio{
    width:180px;
    height: 30px;
}
#play-list audio{
    width: 100%;
  
}
.navbar{
    background-color: white;
}
#trending-bar{
background-color: white;
display: flex;
justify-content: space-between;
padding: 10px;
margin-top: -4rem;
}
#trendingbar{
    background-color: white;
display: flex;
justify-content: space-between;
padding: 10px;
}
.trending-1{
    display: flex;
    align-items: center;
    gap: 10px;
}
.trending-1 .nav-link{
    background-color: black;
    color: brown;
    border-radius: 150px;
    width: 100px;
    text-align: center;
}
.trending{
    align-items: center;
    display: flex;
    gap: 5px;
}
.movie-card:hover img{
    color: black;
    cursor: pointer;
    background-color: white;
    box-shadow: 5px 5px 8px;
}
table td:hover{
    color: green;
    cursor: pointer;
}
span img{
    background-color: white;
}
span{
color: white;
}
h1{
    text-align: center;
    color: red;
}

#worst-album-image img{
    padding: 0.25rem;
    max-width: 100%;
    height: auto;
}
#worst-album{
    background-color: white;
}
#footer .row {
    background-color: black;
    justify-content: center;
    text-align: center;
}
#footer .row img{
    padding: 10px;
    background-color: white;
}
.card-title{
    color: black;
}
.card-text a{
    text-decoration: none;
}
.jumbotron{
    background-size: cover;
    text-align: center;
    animation: fadein 2s;
    
}
.jumbotron p{
    color: white;
    font-size: 50px;
    position: relative;
}
@keyframes fadein {
    from { 
        opacity: 0;
    }
    to   { 
        opacity: 1; 
    }
}
.movie-card h5{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.movie-card p{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: red;
}

.badge{
    position: absolute;
    top:-0.25rem;
    left: -0.30rem;
}
.badge img{
    width: 70px;
    height: 50px;
}
.movie-card{
    position: relative;
}

.table img{
    border-radius: 50%;
    height: 50px;
    width: 50px;
}
.tr-table1{
    background-color: coral;
}
.tr-table2{
    background-color: chocolate;
}
.tr-table{
    background-color: brown;
}
#shyeimage{
    height: 150px;
    width: 300px;
}
#newtrack-btn{
    background-color: black;
    color: white;
}


#newtrack-btn:hover {
    box-shadow: 10px 5px 5px gray;
    opacity: 1;
    transition : opacity 0.7 ease-in-out;
     background-color: gray;
}
